@page "/tasks"
@rendermode InteractiveServer

<PageTitle>Tasks</PageTitle>

<h3>Tasks</h3>

<p>This component demonstrates a crud of tasks</p>

<FluentLabel>Create a new to-do task</FluentLabel>
<FluentTextField @bind-Value=message Placeholder="Description"></FluentTextField>
<br/>
<FluentButton Appearance="Appearance.Accent" @onclick="CreateNewTask">Create</FluentButton>

<br />

<FluentDataGrid Id="todoGrid" Items="@todos" GridTemplateColumns="1fr 2fr 1fr 1fr" Loading="@(todos == null)" Style="height:204px;" TGridItem="Todo">
    <TemplateColumn Title="Completed ?" Align="Align.Start">
        <CellTemplate>
            @if (context is Todo t)
            {
                <FluentCheckbox @bind-Checked="t.IsDone" />
            }
        </CellTemplate>
    </TemplateColumn>
    <PropertyColumn Title="Description" Property="@(c => c!.Description)" Align="Align.Start" />
    <PropertyColumn Title="Create Date" Property="@(c => c!.CreateDate)" Align="Align.Center" />
    <PropertyColumn Title="Due Date" Property="@(c => c!.DueDate)" Align="Align.Center" />
</FluentDataGrid>


@code 
{
    private string? message = string.Empty;
    private IQueryable<Todo>? todos;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);
        todos = Todo.GetFakeData();
    }

    private void CreateNewTask()
    {
        if (string.IsNullOrWhiteSpace(message))
            return;

        var newTodo = new Todo
        {
            Description = message,
            DueDate = DateTime.Now.AddDays(7),
        };

        var newList = todos?.ToList();
        newList?.Add(newTodo);

        message = string.Empty;

        todos = newList?.AsQueryable();
        StateHasChanged();
    }
}
